---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Generator from '../components/Generator'
import '../message.css'
import 'katex/dist/katex.min.css'
import 'highlight.js/styles/atom-one-dark.css'
---

<Layout title="ChatGPT API AI">
    <main>
        <Header/>
        <Generator client:load/>
        <Footer/>
    </main>
</Layout>

<script>
    async function login() {
        const username = "wangwu";
        const password = "wangwu";
        const response = await fetch('http://127.0.0.1:18081/users/login', {
            // const response = await fetch('/api/users/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                username: username,
                password: password,
            }),
        })
        console.log('response', response)
        const responseJson = response.json()
        console.log('responseJson', responseJson)
        // if (responseJson.code != "0000")
        //     window.location.href = '/password'
    }

    // login()

    async function checkCurrentAuth() {
        let token = localStorage.getItem('token')
        const response = await fetch('http://127.0.0.1:18081/users/checkCurrentAuth', {
        // const response = await fetch(ServerUrl+'/users/checkCurrentAuth', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': token,
            }
        })
        const responseJson = await response.json()
        //登录失败-跳转登录
        if (!responseJson.code.toString().endsWith('0000')) {
            console.log("跳转登录")
            // window.location.href = '/password'
            window.location.href = '/login'
        } else {
            console.log("校验成功")
        }
        //登录成功-首页使用
    }
    checkCurrentAuth()
</script>
